<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <%=name%>
  <form action="/user/doAdd" method="post">
    <input type="text" name="username" placeholder="请输入username">
    <input type="text" name="password" placeholder="请输入password">
    <input type="submit" value="dianwo">
  </form>
</body>
</html>